[Desktop Entry]
Type=Link
Name=【就業型インターン】スキルチェックシート
URL=https://docs.google.com/spreadsheets/d/1PQs9R7J2ehCi1EapuUhdaWVdowoVVTDJ_CmHaZAwgo8/edit?usp=drivesdk
