[Desktop Entry]
Type=Link
Name=AuthTokenどう渡すか問題
URL=https://docs.google.com/document/d/1RTuJOB3vecWFu4nrDFN17PJ9cxHEygi2NHiQNWwxSm8/edit?usp=drivesdk
